header
  padding: 2em 0

  #logo
    display: inline-block
    height: auto
    width: 100%

    img
      display: block

@media screen and (min-width: 480px)

  header
    #logo
      max-width: 80%

@media screen and (min-width: 740px)

  header
    #logo
      width: 60%
