header
  padding: 2em 0

  #logo
    border: 0
    color: #b29000
    display: inline-block
    font-family: 'Leckerli One'
    font-size: 80px
    text-decoration: none

    &:hover, &:focus
      color: #000

@media screen and (min-width: 480px)

  header
    #logo
      font-size: 100px

@media screen and (min-width: 740px)

  header
    #logo
      font-size: 120px
