.post
  border-bottom: 2px solid #ececec
  margin-bottom: 3em
  padding-bottom: 3.5em

  &.detail
    border-bottom: 0
    padding-bottom: 0

  &:last-child
    border-bottom: 0

  h1, h2
    margin-bottom: 0

  h2
    a
      font-size: 36px

  .meta
    margin-bottom: 1.5em

  .meta_text
    color: #ccc
    margin-bottom: 0

  img
    display: block
    max-width: 75%

    &.left
      float: left
      margin: 0 1em 1em 0
      max-width: 50%

    &.right
      float: right
      margin: 0 0 1em 1em
      max-width: 50%

@media screen and (min-width: 480px)
  .post
    h1, h2
      a
        font-size: 54px

@media screen and (min-width: 600px)

  .post
    h1, h2
      a
        font-size: 63px
